body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 8%;
	text-align: center;
	color: white;
	border-bottom: 1px solid black;
}

.header img{
	padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    float: left;
    height: 50%;
}

.footer{
	width: 100%;
	height: 5%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	border-top: 1px solid black;
}

.contenedor{
	width: 100%;
	height: 87%;
}

.columna1{
	width: 20%;
	height: 100%;
	border-right: 1px solid black;
	float: left;
}

.columna2{
	width: 60%;
	height: 100%;
	border-right: 1px solid black;
	float: left;
	overflow-y: scroll;
}

div.columna2 div:nth-child(1){
	padding-top: 1%;
}

.columna3{
	width: 19%;
	height: 100%;
	float:left;
}
.columna3 p{
	text-align: center;
	margin: 0;
    padding: 2% 2% 0% 2%;
}

.columna1,.columna3 h2{
	text-align: center;
}

.noticia {
	padding: 0% 1% 1% 1%;
	width: 98%;
	display: inline-block;
}

.noticia img{
	padding-right: 1%;
	float: left;
	width: 35%;
	height: 25%;
}

.columna1 p{
	text-align: center;
	margin: 0;
    padding: 2% 2% 0% 2%;
}

.destacado{
	font-weight: bold;
}

